*{
    box-sizing: border-box;
}



body{
position: relative;
width: 100%;
height:100%;
background: #ffffff;
}


.navbar{
 
position: absolute;
width: 1339px;
height: 76px;
left: 42px;
top: 125px;
background: #C4C4C4;
border-radius: 20px;

}
.navbar-nav{
    padding-left: 0;
    background-color: black;
}


.nav-item{
    padding: 0.66rem 0;
    text-align: center;
    background-color: coral;
}

.nav-item1{
  position: absolute;
  width: 256px;
  height:256px;
  border-radius:256px;
  left: 47px;
  top: 117px;


}


.nav-item2{
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: rgb(225, 65, 65);
}



.nav-item3{

    padding-left: 5vw;
    padding-right: 5vw;
    background-color: rgb(255, 6, 130);

}



.nav-item4{

    padding-left: 5vw;
    padding-right: 5vw;
    background-color: rgb(247, 121, 3);

}



.nav-item5{

    padding-left: 5vw;
    padding-right: 5vw;
    background-color: rgb(255, 0, 200);

}

:root {
    --gutter: 20px;
  }
/*   
  .app {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
  } */
  
  /* .app > * {
    grid-column: 2 / -2;
  }
  
  .app > .full {
    grid-column: 1 / -1;
  }
   */
  /* .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);
    
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
  } */
  
  
  /* Demo styles */
  
  /* html,


  ul {
    list-style: none;
    padding: 0;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  .app {
   margin-top: 20%;
    background: #DBD0BC;
    overflow-y: scroll;
  }
  
  .hs > li,
  .item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    height:200px;
    border-radius: 8px;


 */





/* 
html { font-size: 22px; }
body { padding: 2rem; }
.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 5rem;
  margin-top: 2%;
background: #C4C4C4;
border-radius: 10px;
}
.cards {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }

  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  } */





  :root {
    --gutter: 20px;
  }
  
  .app {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
  }
  
  .app > * {
    grid-column: 2 / -2;
  }
  
  .app > .full {
    grid-column: 1 / -1;
  }
  
  .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);
  
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
  }
  
  .hs:before,
  .hs:after {
    content: '';
    width: 10px;
  }
  
  
  /* Demo styles */
  
  html,
  body {
    height: 100%;
  }
  
  /* body {
    display: grid;
  
  }
   */
  ul {
    list-style: none;
    padding: 0;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  .app {
  
    overflow-y: scroll;
  }
  
  .hs > li,
  .item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #C4C4C4;
    border-radius: 8px;
  }
  
  
  
  .no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }